{% extends '::base1.html.twig' %}

{% block content %}

        {{ form_start(formPassword) }}
        <div class="form-group row">
            <div class="col-xs-10">
                {{ form_row(formPassword.password) }}
            </div>
        </div>
        <input type="submit" value="Wejdź"
               class="btn btn-primary btn-xl text-center" />
{% endblock %}