{% extends '::base.html.twig' %}

{% block content %}
    <h1 id="napiswPrzepis">Dodaj przepis!</h1>
    <div id="typy">
        <a href="{{ path('dodaj_sniadanie') }}">
            <div class="typ" id="sniadanie" style="float:left;">
                <p>Śniadanie</p>
            </div>
        </a>

        <a href="{{ path('dodaj_obiad') }}">
            <div class="typ" id="obiad"  style="float:left;">
                <p>Obiad</p>
            </div>
        </a>
        <div style="clear:both;"></div>

        <a href="{{ path('dodaj_kolacje') }}">
            <div class="typ" id="kolacja" style="float:left;">
                <p>Kolacja</p>
            </div>
        </a>

        <a href="{{ path('dodaj_deser') }}">
            <div class="typ" id="deser"  style="float:left;">
                <p>Deser/przekąska</p>
</div>
</a>
<div style="clear:both;"></div>
</div>
{% endblock %}