{% extends '::base.html.twig' %}

{% block content %}
    <h1 id="napiswPrzepis">Dodaj przepis!</h1>
    <div id="types">
        <a href="{{ path('add_breakfast') }}">
            <div class="type" id="breakfast" style="float:left;">
                <p>Śniadanie</p>
            </div>
        </a>

        <a href="{{ path('add_dinner') }}">
            <div class="type" id="dinner"  style="float:left;">
                <p>Obiad</p>
            </div>
        </a>
        <div style="clear:both;"></div>

        <a href="{{ path('add_supper') }}">
            <div class="type" id="supper" style="float:left;">
                <p>Kolacja</p>
            </div>
        </a>

        <a href="{{ path('add_dessert') }}">
            <div class="type" id="dessert"  style="float:left;">
                <p>Deser/przekąska</p>
</div>
</a>
<div style="clear:both;"></div>
</div>
{% endblock %}